* {
    font-family: 'DM Sans', sans-serif;
    text-transform: none;
}
* {
    margin: 0;
    padding: 0;
}
#wrapper {
    width: 80%;
    margin: auto;
}
header {
    width: auto;
    margin: auto;
    padding: auto;
}
nav {
    width: auto;
    margin: auto;
    padding: auto;
}
ul {
    list-style-type: none;
}
h1 {
    color: rgb(63, 90, 59);    
    font-size: 6em;
}
h2 {
    color: rgb(118, 139, 115);
    font-size: 1.4em;
}
img {
    width: 40%;
    height: 40%;
}
a:link {
    color:rgb(63, 90, 59);
}
a:visited {
    color:rgb(118, 139, 115);
}
a:hover {
    color:rgb(183, 199, 181);
}
footer {
    width: auto;
    margin: auto;
    padding: auto;
}